input.qty{
    width: 60px;
}

td.pn-level-1{
    text-indent:2mm;
}

td.pn-level-2{
    text-indent:4mm;
}

td.pn-level-3{
    text-indent:6mm;
}

td.pn-level-4{
    text-indent:8mm;
}


td.pn-level-5{
    text-indent:10mm;
}

td.pn-level-6{
    text-indent:12mm;
}

td.pn-level-7{
    text-indent:14mm;
}


