{% extends 'base.html' %}

{% block title %}{{part['part_number']}}{% endblock %}

{% block header %}
  
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="py-3"> 
    <h4 class="d-inline align-middle">Part Info</h4>
    <input type="submit" href ="/part/{{part['part_number']}}/edit_info" 
       class="btn btn-primary p-2 d-inline align-middle d-inline align-middle ml-2"
       value="Save Changes">
    <a href ="/part/{{part['part_number']}}" 
       class="btn btn-secondary p-2 d-inline align-middle d-inline align-middle ml-2">Cancel</a>
    </div>

      <label>part number - {{part['part_number']}} </label><br>
      <label>name - </label> <input value="{{part['name']}}" name="name"><br>
      <label>meaure unit - </label> 
      <select value="{{part['measure_unit']}}" name="measure_unit">
        {% for unit in units %}
          <option value="{{unit}}">{{unit}}</option>
        {% endfor %}
      </select><br>
      <label>status - </label> 
      <select value="{{part['status']}}" name="status">
        {% for status in status_list %}
          <option value="{{status}}">{{status}}</option>
        {% endfor %}
      </select><br> 
      <label>created - {{part['created']}} </label><br>
      <label>last_modified - {{part['last_modified']}} </label>
  </form>

      <div class="py-3 ">
        <h4 class="d-inline align-middle py-2 ">Structure for {{part['part_number']}}</h4>
        <a href ="/part/{{part['part_number']}}/edit_structure" class="btn btn-primary p-2 d-inline align-middle ml-2 disabled">Edit Structure</a>
      </div>

      <table class="table" id="bom-table">
        <tr>
          <th>Part number</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Status</th>
        </tr>
        {% for row in bom %}
          <tr>
            <td class="pn-level-{{row['level']}}">
              <a href="/part/{{row['part_number']}}"  class="pn-level-{{row['level']}}" >{{ row['part_number'] }}</a> 
            </td>
            <td class='part-name'>{{ row['name'] }}</td>
            <td class='part-quantity'>{{ row['quantity'] }}</td>
            <td class="part_measure_unit">{{ row['measure_unit']}}</td>
            <td class="part_status">{{ row['status']}}</td>
          </tr>
        {% endfor %}
      </table>
    

    
{% endblock %}